<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707805302617-mcbg2qkuj6k2e0hthbbp9ma55bo5tht3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707805302617-mcbg2qkuj6k2e0hthbbp9ma55bo5tht3</string>
	<key>API_KEY</key>
	<string>AIzaSyBh_otyuxuJ63wGtkorFKUeS8x8u76erpo</string>
	<key>GCM_SENDER_ID</key>
	<string>707805302617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miguelulloa.appFAMEX</string>
	<key>PROJECT_ID</key>
	<string>famextest1</string>
	<key>STORAGE_BUCKET</key>
	<string>famextest1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:707805302617:ios:98777e3fd36b3020f14648</string>
</dict>
</plist>
